<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup,android:icon,android:theme,android:label"
        tools:targetApi="m">

        <!-- exported->标示当前Activity是否可以被另一个Application的组件启动：true允许被启动；false不允许被启动。 -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TabLayoutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SnackBarActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AppBarLayoutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AppBarLayoutDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CollapsingToolbarLayoutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BottomSheetBehaviorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BottomSheetDialogActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />

    </application>

</manifest>